body {
   margin: 0;
   background-image: url("back_one.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   color: whitesmoke;
   font-family: "Barlow Semi Condensed";
}

.main-box {
   margin: 100px 50px 100px 50px;
   background-color: rgba(84, 79, 90, 0.253);
}

header {
   font-size: 3vw;
}

header h1 {
   padding-left: 20px;
   padding-top: 20px;
   font-family: "Bungee Shade";
   line-height: 1;
   padding-bottom: 45px;
}

nav {
   display: flex;
   text-align: center;
   margin: 0 20px 0 20px;
   gap: 5px;
   padding-bottom: 25px;
}

nav div {
   padding: 10px;
   font-size: 2.4vw;
   background-color:rgba(240, 248, 255, 0.493);
   border-radius: 10px;
   flex-grow: 1;
   width: 100%;
}

nav div:hover {
   background-color: rgba(255, 255, 255, 0.747);
   color: rgba(0, 0, 0, 0.719);
}

.marked:hover {
   background-color:rgba(240, 248, 255, 0.493);
   color: aliceblue;
}

.marked {
   border: 2px solid white;
   box-shadow: 0 0 15px #9ecaed;
   font-weight: bold;
}

/* Första sidan */

.best { 
   border: 1px solid white;
   margin: 50px 20px 50px 20px;
   padding: 15px;
   border-radius: 20px;
}

#are_you_experienced {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: auto auto auto;
   gap: 10px;
}

.album_data {
   grid-column: 1/span 3;
   grid-row: 1/span 2;
}

.album_data h1 {
   font-size: 2.7vw;
   margin: 0;
   padding: 0;
   font-family: "Bungee Shade";
   line-height: 1.2;
}

.album_data h2 {
   font-size: 2.4vw;
   margin-top: 5px;
   margin-bottom: 0;
}

.album_data ul {
   margin: 0;
   font-size: 1.5vw;
}
.album_data li {
   list-style-type: none;
   margin-left: -15px;
}

.album_data p {
   font-size: 1.5vw;
   margin: 0;
   padding-top: 35px;
}


.cover {
   grid-column: 4/ span 2;
   grid-row: 1;
   display: grid;
   grid-template-columns: 1fr;
}

.cover img {
width: 100%;
height: 100%;
object-fit: cover;
grid-column: 1;
grid-row: 1;
border-radius: 15px 15px 0 0;
}

.show_hover:hover {
opacity: 100;
}

.show_not_hover:hover {
opacity: 0;
transition: all 1.5s ease;
}

.song_list {
   grid-row: 2;
   grid-column: 1/span 5;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: auto;
   color: rgb(252 233 70);
   column-gap: 10px;
}


.song_list :nth-of-type(1) {
   grid-column: 4;
   background-color: rgb(30 72 152);
   border-radius: 0 0  0 20px;
}

.song_list :nth-of-type(2) {
   background-color: rgb(30 72 152);
   border-radius: 0 0 20px 0;
}

.song_list ul li {
   list-style-type: decimal;
}

.song_list h2 {
   font-size: 1.8vw;
   margin: 15px 15px -20px 20px;
   font-weight: lighter;
}

.song_list ul {
   padding-left: 0;
   list-style-position: inside;
   font-size: 1.1vw;
   margin: 20px 0 20px 20px;
}

.anecdotes {
      grid-row: 3;
      grid-column: 1 / span 5;
      display: grid;
      grid-template-columns: repeat(6,1fr);
      grid-template-rows: 1fr;
      list-style: none;
      padding: 0;
      font-size: 1.4vw;
      gap: 6px;
      color:rgb(30 72 152);
      margin-bottom: 0;  
      margin-top: 0;
}

.top_right_90 {
   grid-column: 1;
   grid-row: 1;
   background-color: rgb(252 233 70);
   border-radius: 15px 0 15px 15px;
   display: flex;
   align-items: center;
   padding: 20px 15px 20px 15px;
}

.empty {
   grid-column: 2;
   grid-row: 1;
}

.two_wide {
   grid-column: 3/span 2;
   grid-row: 1;
   background-color:rgb(252 233 70);
   border-radius: 15px 15px 15px 0;
   display: flex;
   align-items: center;
   padding: 20px 15px 20px 15px;
}


.image {
   grid-column: 5;
   background-image: url("Martin-Scorsese.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   border-radius: 0 15px 15px 15px;
   padding: 5px;
   display: flex;
   align-items: end;
}

.bottom_right_90 {
   grid-column: 6;
   grid-row: 1;
   background-color: rgb(252 233 70);
   display: flex;
   align-items: center;
   border-radius: 15px 15px 0 15px;
   padding: 20px 15px 20px 15px;
}

/* Andra sidan */

#axis_bold_as_love {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: auto auto auto;
   gap: 10px;
}

#axis_bold_as_love .song_list :nth-of-type(1) {
   background-color: white;
   color: rgb(223 91 54);
}

#axis_bold_as_love .song_list :nth-of-type(2) {
   background-color: white ;
   color: rgb(223 91 54);
}

#axis_bold_as_love .album_data p {
   padding-top: 43px;
}

#axis_bold_as_love .bottom_left_90 {
   grid-column: 1/span 2;
   background-color: rgb(223 91 54);
   border-radius: 15px 15px 15px 0;
   color: rgb(226 226 224);
}

#axis_bold_as_love .top_left_90  {
   grid-column: 3;
   background-color: rgb(223 91 54);
   color: rgb(226 226 224);
   border-radius: 0 15px 15px 15px;
   padding: 20px 15px 20px 15px;
}

#axis_bold_as_love .image_1 {
   grid-column: 4/span 2;
   background-image: url("James_and_Suzy.webp");
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 0 15px 15px 15px;
   display: flex;
   align-items:flex-end;
   padding: 10px;
} 

#axis_bold_as_love .bottom_right_90 {
   grid-column: 6;
   background-color: rgb(223 91 54);
   color: rgb(226 226 224);
   border-radius: 15px 15px 0 15px;
}

footer {
   padding: 15px;
   font-size: 1.2vw;
}

/* Breakpoint 800*/

@media (max-width:800px) {
   #are_you_experienced {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: auto auto auto;
   }

   header {
      text-align: center;
      font-size: 5vw;
      line-height: 1.3;
   }
   
   nav div {
      font-size: 3vw;
     }

   .cover {
     grid-column: 1/span 3;
     grid-row: 1;
     margin: 0;
   }

   .cover img {
      border-radius: 15px 0 0 15px;
      transition: none !important;
   }

   .song_list {
      grid-column: 1/span 5;
      grid-row: 1;
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 10px;
   }

   .song_list ul {
      font-size: 2.1vw;
      padding: 0 15px 15px 15px;
   }

   .song_list h2 {
      font-size: 3.5vw;
      padding: 15px 15px 0 15px;
   }


   .song_list :nth-of-type(1) {
      grid-column: 4/span 2;
      grid-row: 1;
      border-radius: 0 15px 0 0;
      margin: 0;
   }

   .song_list :nth-of-type(2) {
      grid-column: 4/span 2;
      grid-row: 2;
      border-radius: 0 0 15px 0;
      margin: 0;
   }

   .album_data {
      grid-row: 2;
      grid-column: 1/span 5;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto auto;
      row-gap: 80px;
   }

   .album_data h1 {
      margin-top: 1px;
      font-size: 5vw;
      line-height: 1.1;
      grid-row: 1;
   }

   .album_data h2 {
      font-size: 3.5vw;
      line-height: 1.5;
   }

   .album_data p {
      font-size: 2.5vw;
   }

   .album_data ul {
      font-size: 2.5vw;
   }

   .album_data :nth-of-type(1) {
      grid-row: 1;
      grid-column: 1/span 5;
   }

   .album_data :nth-of-type(2) {
      grid-column: 1/span 5;
      grid-row: 2;
   }

   .album_description {
      grid-column: 1/span 5;
      grid-row: 3;
   }

   .anecdotes {
      grid-row: 3;
      grid-column: 1/span 5;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, auto);
      font-size: 2.1vw;
   }

   #are_you_experienced .top_right_90 {
      grid-column: 1;
      grid-row: 1;
      padding: 10px;
   }

   #are_you_experienced .two_wide {
      grid-column: 3/span 2;
      grid-row: 1;
      padding: 10px;
   }

   #are_you_experienced .image {
      grid-column: 2;
      grid-row: 2;
   }

   #are_you_experienced .bottom_right_90 {
      grid-column: 3;
      grid-row: 2;
      padding: 10px;
   }

   #axis_bold_as_love .anecdotes {
      grid-row: 3;
      grid-column: 1/span 5;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, auto);
      font-size: 2.1vw;
   }
   
   #axis_bold_as_love .two_wide {
      grid-column: 1/span 2;
      grid-row: 1;
      padding: 10px;
   }
   
   #axis_bold_as_love .top_left_90 {
      grid-column: 3;
      grid-row: 1;
      padding: 10px;
   }
   
   #axis_bold_as_love .image_1 {
      grid-column: 2/span 2;
      grid-row: 2;
   }
   
   #axis_bold_as_love .bottom_right_90 {
      grid-column: 4;
      grid-row: 2;
      padding: 10px;
   }

   footer {
      font-size: 2vw;
      padding: 20px;
   }  
}

/* Breakpoint 500px */


@media (max-width:500px) {
   #are_you_experienced {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, auto);
   }

   header h1 {
      font-size: 14vw;
      padding: 15px 15px 50px 15px;
      margin: 0;
     }

     nav div {
      font-size:3vw;
     }

     .cover {
      grid-column: 1/span 4;
      grid-row: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
   }

   .cover img {
      grid-column: 1/span 2;
      grid-row: 1/span 2;
   }

   .song_list {
      grid-column: 1/span 4;
      grid-row: 2;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
   }

   .song_list :nth-of-type(1) {
      grid-column: 1;
      grid-row: 1;
      border-radius: 0 0 0 15px;
   }

   .song_list :nth-of-type(2) {
      grid-column: 2;
      grid-row: 1;
      border-radius: 0 0 15px 0;
   }

   .song_list ul {
      font-size: 3.5vw;
   }

   .song_list h2 {
      font-size: 5vw;
   }

   .album_data h1 {
      font-size: 8vw;
   }

   .album_data h2 {
      font-size: 5vw;
   }

   .album_data p {
      font-size: 4vw;
   }

   .album_data ul {
      font-size: 4.2vw;
   }

   .album_data {
      grid-row:3;
   }

   .main-box {
         margin: 0;
      }

   .show_hover:hover {
      opacity: 0;
   }

   .show_not_hover:hover {
      opacity: 100;
   }


   #are_you_experienced .anecdotes {
      grid-row: 4;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto;
      font-size: 3.5vw;
   }

   #are_you_experienced .top_right_90 {
      grid-column: 1;
      grid-row: 1;
   }

   #are_you_experienced .two_wide {
      grid-column: 2/span 2;
      grid-row: 1;
   }

   #are_you_experienced .image {
      grid-column: 2;
      grid-row: 2;
      padding: 10px;
   }

   #are_you_experienced .bottom_right_90 {
      grid-column: 3;
      grid-row: 2;
   }

   /*Andra sidan */

   #axis_bold_as_love {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, auto);
   }

   .cover img {
      border-radius: 15px 15px 0 0;
   }

   #axis_bold_as_love .anecdotes {
      font-size: 3.5vw;
   }

   #axis_bold_as_love .album_data {
      grid-row:3;
   }

   #axis_bold_as_love .anecdotes {
      grid-row: 4;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto;
      gap: 5px;
   }

   #axis_bold_as_love .bottom_left_90 {
      grid-column: 1/span 2;
      grid-row: 1;
   }

   #axis_bold_as_love .top_left_90 {
      grid-column: 3;
      grid-row: 1;
   }

   #axis_bold_as_love .image_1  {
      grid-column: 1/span 2;
      grid-row: 2;
      padding: 10px;
   }

   #axis_bold_as_love .bottom_right_90 {
      grid-column: 3;
      grid-row: 2;
   }

   footer {
      font-size: 2.5vw;
      padding: 20px;
      margin: 0;
   }
}




/* Breakpoint 900px och 1111px */

@media (max-width:800px) {
   body {
      background-image: url("800px.jpg");
   }
}

@media (max-width:500px) {
   body {
      background-image: url("500px.jpg");
   }
}


/* Header */ 
@media (max-width: 900px) and (min-width: 1111px) {
   header h1 {
      font-size: 33px;  
   }
}


/* Nav */
@media (max-width: 900px) and (min-width: 1111px) {
   nav div {
      font-size: 27px;
   }
}

/* Album_data */
@media (max-width: 900px) and (min-width: 1111px) {
   .album_data h1 {
      font-size: 30px;
   }
   .album_data h2 {
      font-size: 26px;
   }

   .album_data ul {
      font-size: 16.5px;
   }

   .album_data p {
      font-size: 16.5px;
   }
}

/* Song_list */
@media (max-width: 900px) and (min-width: 1111px) {
   .song_list ul {
      font-size: 12px;
   }
   .song_list h2 {
      font-size: 20px;
   }
}

@media (max-width: 900px) and (min-width: 1111px) {
   .song_list #axis_bold_as_love  ul {
      font-size: 12px;
   }
   .song_list #axis_bold_as_love h2 {
      font-size: 20px;
   }
}
/* Anecdotes */
@media (max-width: 900px) and (min-width: 1111px) {
   .anecdotes {
      font-size: 15.5px;
   }
}

   @media (max-width: 900px) and (min-width: 1111px) {
   .anecdotes #axis_bold_as_love {
      font-size: 15.5px;
   }
}

/*Footer */
@media (max-width: 900px) and (min-width: 1111px) {
   footer {
      font-size: 13px;
   }
}